<!DOCTYPE html>
<html lang="en">
<head>

    <style>
        body {
            background-color: #333;
            color: white;
            text-align: center; /* Centraliza todo o texto na página */
        }
    </style>
</head>
<body>
    @{
        ViewData["Title"] = "Explicação dos Cálculos";
    }

    <h1>@ViewData["Title"]</h1>

    <p>A seguir segue demonstração dos cálculos:</p>
</body>
</html>
